<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string></string>
	<key>2</key>
	<string></string>
	<key>3</key>
	<string></string>
	<key>4</key>
	<string></string>
	<key>5</key>
	<string></string>
	<key>6</key>
	<string></string>
	<key>7</key>
	<string></string>
	<key>8</key>
	<string></string>
	<key>9</key>
	<string></string>
	<key>10</key>
	<string></string>
	<key>11</key>
	<string></string>
	<key>12</key>
	<string></string>
	<key>13</key>
	<string></string>
	<key>14</key>
	<string></string>
	<key>15</key>
	<string></string>
	<key>16</key>
	<string></string>
	<key>17</key>
	<string></string>
	<key>18</key>
	<string></string>
	<key>19</key>
	<string></string>
	<key>New item</key>
	<string></string>
</dict>
</plist>
