<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppLovinSdkKey</key>
	<string>kGJHOuC0iJRstnpg62rWosOVBLPvIlt10BIO4VOnqrchbQMhSCDF3bmEyA7Fv_GvAZIE3h0tWdT72wqU71lBcU</string>
	<key>AppLovinVerboseLoggingOn</key>
	<string>false</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon.png</string>
		<string>Icon@2x.png</string>
		<string>Icon-Small.png</string>
		<string>Icon-Small@2x.png</string>
		<string>Icon-76.png</string>
		<string>Icon-76@2x.png</string>
		<string>Icon-120.png</string>
	</array>
	<key>CFBundleIconFiles~ipad</key>
	<array>
		<string>Icon.png</string>
		<string>Icon@2x.png</string>
		<string>Icon-Small.png</string>
		<string>Icon-Small@2x.png</string>
		<string>Icon-76.png</string>
		<string>Icon-76@2x.png</string>
		<string>Icon-120.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>PoetsenOne-Regular.ttf</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Quick Play</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.tennisvideostore.book0031.quickplay</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Achievements</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.tennisvideostore.book0031.archivements</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Shop</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.tennisvideostore.book0031.shop</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Story Mode</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.tennisvideostore.book0031.storymode</string>
		</dict>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main_iPhone</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>Main_iPad</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>gamekit</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
